* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(0, 0, 33);
    color: white;
}

/* HEADER */
.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
    background: rgb(20, 20, 60);
}

.menu-toggle {
    display: none;
    position: relative;
    z-index: 2000;
    user-select: none;
    transition: transform 0.3s ease;
    font-size: 28px;
    cursor: pointer;
}

.menu-toggle.active {
    transform: rotate(90deg);
}

.logo {
    display: flex;
    align-items: center;
    gap: 2px;
}

.logo img {
    width: 80px;
}

.logo a {
    text-decoration: none;
    color: white;
}

.logo span {
    font-size: 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 35px;
}

/* NAV LINKS */
.navbar a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 8px 5px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: rgb(240, 224, 255);
}

/* ACTIVE MENU HIGHLIGHT */
.dropdown.active>.dropdown-toggle {
    color: #c198ff;
}

/* ARROW */
.arrow {
    font-size: 0.7rem;
    margin-left: 4px;
    display: inline-block;
    transition: transform 0.3s ease;
}

/* ROTATE ARROW */
.dropdown.active .arrow {
    transform: rotate(-90deg);
}

/* DROPDOWN */
.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    display: block;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0;
    top: 120%;
    left: 0;
    background: #4c4c68;
    border-radius: 6px;
    width: 160px;
    padding: 6px 0px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);

    /* animation setup */
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.25s ease, transform 0.25s ease;
}

/* SHOW DROPDOWN */
.dropdown.active .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-menu li {
    margin: 0;
    padding: 0;
}

.dropdown-menu li a {
    display: block;
    padding: 6px 10px;
    line-height: 1.2;
    font-size: 0.9rem;
    color: white;
}

.dropdown-menu li a:hover {
    background: rgba(255, 255, 255, 0.08);
}


/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 8%;
}

.hero-text h1 {
    font-size: 2.5rem;
}

.hero-text h2 {
    margin-top: 10px;
    font-weight: 400;
}

.purple {
    color: rgb(170, 107, 228);
}

.hero-image img {
    width: 420px;
}

/* SKILLS */
.skills {
    padding: 60px 8%;
    text-align: center;
}

.skills h2 {
    margin-bottom: 40px;
    font-size: 2rem;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    background: rgb(20, 20, 60);
    padding: 25px;
    border-radius: 12px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 30px rgba(170, 107, 228, 0.4);
}

.card img {
    width: 45px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    margin-top: 5px;
}

/* FOOTER */
.footer {
    background: rgb(0, 0, 61);
    padding: 40px;
    text-align: center;
}

.social-links img {
    width: 30px;
    margin: 10px;
}



/* Responsiveness (max-width: 1200px) */
@media (max-width: 1200px) {

    .hero {
        gap: 40px;
    }

    .hero-image img {
        width: 360px;
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Responsiveness (max-width: 800px) */
@media (max-width: 800px) {

    /* header padding */
    .header {
        padding: 10px 5%;
    }

    /* logo */
    .logo img {
        width: 60px;
    }

    .logo span {
        font-size: 17px;
    }

    /* hamburger already show */
    .menu-toggle {
        display: block;
        position: sticky;
        top: 30px;
        right: 20px;
        font-size: 28px;
    }

    /* navbar menu - full width vertical */
    .navbar ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -260px;
        height: 100vh;
        width: 260px;
        background: rgb(20, 20, 60);
        flex-direction: column;
        padding-top: 120px;
        gap: 0;
        transition: right 0.4s ease;
        z-index: 999;
    }

    .navbar ul.show {
        right: 0;
    }

    .navbar ul li {
        width: 100%;
        text-align: left;
        padding: 0px 20px;
        margin: 0;
    }

    /* dropdown inside mobile menu */
    .dropdown {
        width: 100%;
    }

    .navbar ul .dropdown-menu {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        background: rgb(30, 30, 80);
        border-radius: 6px;
        margin-top: 5px 0 10px 0;

        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transform: none;
        pointer-events: none;

        transition: max-height 0.4s ease, opacity 0.3s ease;
    }

    /* when active */
    .navbar ul .dropdown.active .dropdown-menu {
        max-height: 100px;
        opacity: 1;
        pointer-events: auto;
    }

    /* hero section stacked */
    .hero {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .hero-text h1 {
        font-size: 1.6rem;
    }

    .hero-image img {
        width: 200px;
    }

    /* skills - 1 column */
    .skills-grid {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    /* dropdown links */
    .dropdown-menu li a {
        top: -105px;
        padding: 7px 12px;
        display: block;
        font-size: 0.9rem;
    }
}